.jumbotron {
    background-color: aqua;
    color: aliceblue;
    font-family: fantasy;
    padding-top: 0px;
    padding-bottom:0px;
    height:80px;

}

.output {
    width: 100%;
    /* height: 300px; */
    padding: 20px;
    float: inherit;
    text-align: center;
    opacity: 0.95;
    /* background-color:lightgrey */
}

#map-view {
    height: 100px;
    width: 50%;
  }