.jumbotron {
    background-color: #616161;
    padding-top: 50px;
    padding-bottom: 50px;
    opacity: .95;
}
.header {
    position: fixed;  
    top: 20%; 
    width: 100%; 
    z-index: 5;
}
.main {
    margin-top: 200px; 
}
h1 {
    text-align: center;
    color: white;
    font-size: 80px;
    font-family: 'Shadows Into Light', cursive;
}
h2 {
    text-align: center;
    color: white;
    font-family: 'Amatic SC', cursive;
}
h3 {
    text-align: center;
    color: #ff9999;
    font-family: 'Amatic SC', cursive;
}
.output {
    width: 100%;
    padding: 20px;
    float: initial;
    opacity: 0.95;
    text-align: center;
}
#images {
    width: 200px;
    height: 200px;
    margin-right: 3px;
    margin-bottom: 3px;
}
#map-view {
    overflow: hidden;
    margin-left: 165px;
    height: 60%;
    width: 80%;
    border-style: groove;
    border-color: gold;
    border-radius: 5px;
    margin-bottom: 15px;
    position: relative;
    padding: 200px;
}
#map-view iframe{
    left:0;
    top:0;
    height:600px;
    width:80%;
    padding: 200px;
    position:absolute;
}