.jumbotron {
    background-color: rgb(23, 12, 85);
    padding-top: 0px;
    padding-bottom:0px;
    height:120px;

}

h1, h2 {
    text-align: center;
    color: red;
    text-shadow: 2px 1px whitesmoke;
    font-family: Arial, Helvetica, sans-serif;

}

.output {
    width: 100%;
    padding: 20px;
    float: initial;
    opacity: 0.9;
    text-align: center;
}

#images {
    width: 200px;
    height: 200px;
    margin-right: 3px;
    margin-bottom: 3px;
 }